@media only screen and (max-width:480px){
#Container
        {
            width: auto;
            max-width:480px;
            background: #7CA297;
            height: auto;
            font-family:"Verdana";
            margin:0 0;
            font-size:13px;
            padding:0 0;
        }
body
{
    margin:0 0;
}
#Titel
        {
            margin-left:auto;
            margin-right:auto;
            width:98.2%;
            max-width:480px;
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            background-image: url(../../Pictures/Logotype.png);
            
        }
#Linklist ul
        {
            border-color: #000000;
            float:left;
            list-style-type: none;
            width:95.5%;
            text-align:center;
            margin:0 0;

        } 
#Blogginlagg
        {
            width: 98.2%; 
            background: #E6E6E6;
            text-align:Center;
            border-style:solid;
            border-color:#000000;
            float:Left;
        }
video
{
    width:98%;
    height:auto;
}
img
{
    width:auto;
    height:auto;
}
#svgbild
{
    width:300px;
    height:auto;
}
#Selfie
{
    width:300px;
    height:auto;
}
#Footer
        {
            width: auto; 
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            clear:both;
            margin:0 0;
            width:98.3%;
        }
#Listoflinks a.Active
        {
            list-style-type:none;
            background-color: #98AAA4;
            border-style: Solid;
            border-color: #000000;
            width:100%;
            padding: 5px;
            color: black;
            text-decoration:none;
        }
#Listoflinks a
{
            list-style-type: none;
            background-color: #697F78;
            border-style: Solid;
            width:100%;
            border-color: #000000;
            padding: 5px;
            color: black;
            text-decoration:none;
            background-image:none;
            
}
h3
        {
            border-bottom: Solid 3px black;
        }
p
        {
            text-align:Left;            
            border-bottom: double 2px black;
            padding-left: 2.5px;
        }
h4
{
    border-bottom: solid 2px black;
}

fieldset
{
    padding:0px;
    width:300px;
    margin-top:8px;
}
}