#Container
        {
            width: 1200px;
            background: #7CA297;
            height: 960px;
            font-family:"Verdana";
            margin:0 auto;
        }
#Titel
        {
            margin-left:auto;
            margin-right:auto;
            width: auto; 
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            background-image: url(../../Pictures/Logotype.png);
            
        }
#Linklist ul
        {
            text-align:Left;
            border-color: #000000;
            float:left;
            list-style-type: none;

        } 
#Blogginlagg
        {
            width: 880px; 
            background: #E6E6E6;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            float:Left;
        } 
#Footer
        {
            width: auto; 
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            clear:both;
        }

#Listoflinks a.Active
        {
            list-style-type: none;
            background-color: #98AAA4;
            display:Block;
            border-style: Solid;
            border-color: #000000;
            padding: 25px;
            color: black;
            text-decoration:none;
        }
#Listoflinks a
{
            list-style-type: none;
            background-color: #697F78;
            display:Block;
            border-style: Solid;
            border-color: #000000;
            padding: 25px;
            color: black;
            text-decoration:none;
}
#Listoflinks a:hover
        {
            color: black;
            background-color: #337F78;
        }
html
        {
                    width: auto;
                    background: #7CA297;
        }
h3
        {
            border-bottom: Solid 7px black;
        }
p
        {
            text-align:Left;            
            border-bottom: double 4px black;
            padding-left: 5px;
        }
#Blogginlagg .wikilogo
{
    float:right;
    
}
.right
{
    float:right;
}
h4
{
    border-bottom: solid 4px black;
}
ol,ul
{
    text-align:Left;
}
table
{
    margin-right:auto;
    margin-left:auto;
}
table,thead,tfoot,tbody,td,tr
{
    border: solid 2px black;
}


