#Container
        {
            width: 1200px;
            background: #7CA297;
            height: 960px;
            font-family:"Verdana";
            margin:0 auto;
        }
#Titel
        {
            margin-left:auto;
            margin-right:auto;
            width: auto; 
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            background-image: url(../../Pictures/Logotype.png);
            
        }
#Linklist ul
        {
            text-align:Left;
            border-color: #000000;
            float:left;
            list-style-type: none;

        }
#video
{
    width:880;
    height:480;
}
#Blogginlagg
        {
            width: 880px; 
            background: #E6E6E6;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            float:Left;
        } 
#Footer
        {
            width: auto; 
            background: #697F78;
            text-align:Center;
            border-style: solid;
            border-color: #000000;
            clear:both;
        }

nav a.Active
        {
            list-style-type: none;
            background-color: #98AAA4;
            display:Block;
            border-style: Solid;
            border-color: #000000;
            padding: 25px;
            color: black;
            text-decoration:none;
        }
nav a
{
            list-style-type: none;
            background-color: #697F78;
            display:Block;
            border-style: Solid;
            border-color: #000000;
            padding: 25px;
            color: black;
            text-decoration:none;
            background-image: url(sprite.png);
            background-repeat:no-repeat;
            
}
nav a:hover
        {
            color: black;
            background-color: #337F78;
        }
html
        {
                    width: auto;
                    background: #7CA297;
        }
h3
        {
            border-bottom: Solid 7px black;
        }
Article
        {
            text-align:Left;            
            border-bottom: double 4px black;
            padding-left: 5px;
        }
#Blogginlagg .wikilogo
{
    float:right;
    
}
.right
{
    float:right;
}
h4
{
    border-bottom: solid 4px black;
}
ol,ul
{
    text-align:Left;
}
fieldset ol, ul
{
    padding:0;
    list-style-type:none;
}
p1
        {
            text-align:Left;            
            padding-left: 5px;
}
.index
{
    background-position:0 -24px;
}
.index:hover
{
    background-position:0 24px;
}
.Laborationer
{
    background-position:0 -122px;
}
.Laborationer:hover
{
    background-position:0 -74px;
}
.Presentation
{
    background-position:0 -216px;
}
.Presentation:hover
{
    background-position:0 -168px;
}
.Kontakt
{
    background-position:0 -265px;
}
.Kontakt:hover
{
    background-position:0 -313px;
}