
header
{
    margin:0 auto;
    display:block;
    text-align:center;
    font-family:Arial, Helvetica , sans-serif;
    font-size:60px;
    color:black;
}
body
{
    background-image:url(pictures/background.jpg);
    background-size:1920px 1080px;
    background-repeat:no-repeat;
}
.Galleriet a
{
    background-color:white;
    float:left;
    display:inline;
    margin:10px 10px 25px;
    padding:15px 20px 20px;
    text-align:center;
    box-shadow:0 20px 40px #888888;
    text-decoration:none;
    transition: .20s linear;
    position:relative;
}
.Galleriet a:after
{
    font-family:verdana, times;
    color:gray;
    font-size:30px;
    content:attr(title);
    position:relative;
    top:15px;
}
.Galleriet img
{
    display:block;
    width:inherit;
    height:250px;
}
.Galleriet a:nth-child(1n)
{
    left:125px;
    transform: rotate(-10deg);
}
.Galleriet a:nth-child(2n)
{
    left:125px;
    transform: rotate(10deg);
}
.Galleriet a:nth-child(3n)
{
    left:110px;
    transform: rotate(-20deg);
}
.Galleriet a:nth-child(4n)
{
    left:120px;
    transform: rotate(-33deg);
}
.Galleriet a:nth-child(5n)
{
    left:125px;
    transform: rotate(19deg);
}
.Galleriet a:nth-child(6n)
{
    left:125px;
    transform: rotate(-2deg);
}
.Galleriet a:hover , .Galleriet a:focus
{
    
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: cale(1.3);
    z-index:10;
    box-shadow:0 30px 60px #888888;
}
Footer
{
    width: auto; 
    text-align:Center;
    clear:both;
    background-color:black;
    color:white;
}